extends layout

block content
	h1= title
	p Welcome to our test

	// Wrapper
	#wrapper
		// User Info
		#userInfo
			h2 User Info
			p
				strong Name:
				|	<span id='userInfoName'></span>
				br
				strong Age:
				|	<span id='userInfoAge'></span>
				br
				strong Gender:
				|	<span id='userInfoGender'></span>
				br
				strong Location:
				|	<span id='userInfoLocation'></span>
		// /User Info

		//User List
		h2 User List
		#userList
			table
				thead
					th UserName
					th Email
					th Update
					th Delete?
				tbody
		// /User List



		ul.nav.nav-tabs
			li.active(role="presentation")
				a(href="#adduser" role="tab" data-toggle="tab") Add User
			li(role="presentation")
				a(href="#updateuser" role="tab" data-toggle="tab") Update User

		div.tab-content
			div#adduser.tab-pane.active(role="tabpanel")
				// Add User
				h2 Add User
				#addUser
					fieldset
						input#inputUserName(type='text', placeholder='Username')
						input#inputUserEmail(type='text', placeholder='Email')
						br
						input#inputUserFullName(type='text', placeholder='Full Name')
						input#inputUserAge(type='text', placeholder='Age')
						br
						input#inputUserLocation(type='text', placeholder='Location')
						input#inputUserGender(type='text', placeholder='Gender')
						br
						button#btnAddUser Add User
				// /Add User

			div#updateuser.tab-pane(role="tabpanel")
				// Update User
				b Select a user to update from the above list
				h2 Update User
				#updateUser
					fieldset
						input#rid(type="hidden")
						input#inputUserName(type='text', placeholder='Username')
						input#inputUserEmail(type='text', placeholder='Email')
						br
						input#inputUserFullName(type='text', placeholder='Full Name')
						input#inputUserAge(type='text', placeholder='Age')
						br
						input#inputUserLocation(type='text', placeholder='Location')
						input#inputUserGender(type='text', placeholder='Gender')
						br
						button#btnUpdateUser Update User
				// /Add User


	// /Wrapper


